h1{
    text-align: center;
}

.container{
    display: flex;
}

.player-options{

}

.player-options img,
.enemy-options img{
    max-width: 200px;
    opacity: 0.3;
}

.player-options img:hover{
    opacity: 1;
    cursor: pointer;
}

.player-options, .enemy-options{
    width: 50%;
}

.container{
    display: flex;
    text-align: center;
}